{% extends 'layout.html.twig' %}


{% block content %}
    
  <section>
        <div class="container mesfichesdepaie  ">
            <h1 class="text-center">Mes fiches de paie</h1>
            <h2>Votre dernière fiche de paie est disponible</h2>
            <div class="icone-telechargement">
               <a onclick="{{ asset('')}}"> <i class="fas fa-download"></i> </a>
            </div>
            <p class="text-center"><i class="fas fa-lock"></i> Aucun autre collaborateur n'a accès à vos fiches de paie</p>


            <div class="archives">
                <div class="row">
                    <div class="col-12 col-md-12 ">
                        <h3>Archives</h3>

                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <p>2018</p>
                        <hr>
                        <ul>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Janvier</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Février</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mars</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Avril</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mai</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juin</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juillet</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Aout</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Septembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Octobre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Novembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Décembre</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <p>2017</p>
                        <hr>
                        <ul>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Janvier</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Février</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mars</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Avril</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mai</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juin</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juillet</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Aout</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Septembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Octobre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Novembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Décembre</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <p>2016</p>
                        <hr>
                        <ul>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Janvier</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Février</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mars</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Avril</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mai</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juin</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juillet</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Aout</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Septembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Octobre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Novembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Décembre</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <p>2015</p>
                        <hr>
                        <ul>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Janvier</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Février</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mars</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Avril</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Mai</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juin</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Juillet</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Aout</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Septembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Octobre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Novembre</a></li>
                            <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('') }}"></i> Décembre</a></li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>

    </section>

{% endblock %}
