{% extends 'layout.html.twig' %}


{% block content %}
    
  <section>
        <div class="container mesconges ">
           <h1 class="text-center">Mes Congés</h1>
            
            
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Type de congés</th>
                    <th scope="col">Vos Droits</th>
                    <th scope="col">Acceptées</th>
                    <th scope="col">En attente</th>
                    <th scope="col">Solde</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Congés Payés</th>
                    <td>25/an</td>
                    <td>{{ccpa}}</td>
                    <td>{{ccpec}}</td>
                    <td>{{ app.user.soldeconge }}</td>
                  </tr>

                  <tr>
                    <th scope="row">RTT</th>
                    <td>11/an</td>
                    <td>{{cra}}</td>
                    <td>{{crec}}</td>
                    <td>{{ app.user.soldertt }}</td>
                  </tr>
                </tbody>
              </table>
                  <div class="text-center">
                  <h2 >Mes demandes de Congés</h2>
                  </div>
                  <table class="table">
                        <thead>
                            <tr>
                                
                                <th scope="col">Type de congé</th>
                                <th scope="col">Date de début</th>
                                <th scope="col">Date de fin</th>
                                <th scope="col">Nombre de jour</th>
                                <th scope="col" >Statut</th>
                                <th scope="col" ></th>
                                <th scope="col" ></th>
                                
                               
                                
                            </tr>
                        </thead>
                        <tbody >
                             
                            <tr class="text-center">
                                {% for conge in conges %}
                                 {% if conge.typeconge == 'Congé payé' %}  
                                     
                                     
                                     <th scope="row">{{ conge.typeconge }}</th>
                                
                                
                                
                                     <td>{{ conge.datedebut|date('d/m/Y') }}</td>
                                <td>{{ conge.datefin|date('d/m/Y') }}</td>
                                <td>{{ conge.nbdejour }}</td>
                                <td>
                                   {{ conge.statut }}
                                </td>
                                
                                <td>
                                    <a href="{{ path('app_salarie_modifconge',{id: conge.id}) }}">
                                        <button type="button" class="btn btn-primary">Modifier</button>
                                    </a> 
                                </td>
                                <td>
                                    <a href="{{ path('app_salarie_deleteconge',{id: conge.id}) }}">
                                        <button type="button" class="btn btn-danger">Supprimer</button>
                                    </a>
                                </td>
                                
                            </tr>
                            {% endif %}
                            {% endfor %}
                             <tr class="text-center">
                                 {% for conge in conges %}
                                 {% if conge.typeconge == 'RTT' %}   
                                <th scope="row">{{ conge.typeconge }}</th>
                                <td>{{ conge.datedebut|date('d/m/Y') }}</td>
                                <td>{{ conge.datefin|date('d/m/Y') }}</td>
                                <td>{{ conge.nbdejour }}</td>
                                <td>
                                    {{ conge.statut }}
                                </td>
                                <td>
                                    <a href="{{ path('app_salarie_modifconge',{id: conge.id}) }}">
                                        <button type="button" class="btn btn-primary">Modifier</button>
                                    </a> 
                                </td>
                                <td>
                                    <a href="{{ path('app_salarie_deleteconge',{id: conge.id}) }}">
                                        <button type="button" class="btn btn-danger">Supprimer</button>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                             {% endfor %}
                        
                        </tbody>
                    </table>
                  
                  
                  

              <button type="button" class="btn btn-primary btndemandeConge">Emettre une demande d'absence</button>

          

            <div class="row demandeConge">
                {{form_start(form)}}
                    {{ form_row(form.datedebut ) }} 
                    {{ form_row(form.datefin ) }} 
                    {{ form_row(form.nbdejour ) }} 
                    {{ form_row(form.typeconge ) }} 
                                    
                <div class="col-12">
                  <a href="{{path('app_salarie_index')}}"><button type="button" class="btn btn-primary">Retour</button></a>
                  <a href="{{path('app_salarie_mesconges')}}"><button type="submit" class="btn btn-primary">Envoyer</button></a>
                </div>
                {{form_end(form)}} 
                
                

                
            </div>
           




        </div>
    </section>

{% endblock %}
