{% extends 'layout.html.twig' %}

{% block content %}
<section>
        <div class="container mesconges ">
           <h1 class="text-center">Modification des congés</h1>

                {{form_start(form)}}
                    {{ form_row(form.datedebut ) }} 
                    {{ form_row(form.datefin ) }} 
                    {{ form_row(form.nbdejour ) }} 
                    {{ form_row(form.typeconge ) }} 
                                    
                <div class="col-12">
                  <a href="{{path('app_salarie_index')}}"><button type="button" class="btn btn-primary">Retour</button></a>
                  <a href="{{path('app_salarie_mesconges')}}"><button type="submit" class="btn btn-primary">Envoyer</button></a>
                </div>
                {{form_end(form)}} 
                
                

                
            </div>
</section>
                
{% endblock %}
           
