{% extends 'layout.html.twig' %}


{% block content %}
 
    

    
  <section>
        <div class="container mon-profil  ">
            <h1 class="text-center">Mon profil</h1>
            <div class="text-center">
                <a href="{{path('app_salarie_profiledit' )}}"><button type="button" class="btn btn-outline-success ">Modifier mon profil</button></a>
            </div>
            
            <div class="row infos ">
                <div class="col-12 col-md-6 text-center ">
                    <h2>{{ app.user }}</h2>
                    <div class="photo-profil" style="background-image:url({{asset('images/photo/'~ app.user.photo)}})">

                    </div>


                </div>
                <div class="col-12 col-md-6 information">
                    <p><span>Civilité : </span>{{app.user.civilite}}</p>
                    <p><span>Date de naissance : </span>{{ app.user.dateDeNaissance |date('d-m-Y') }}</p>
                    <p><span>Adresse : </span>{{ app.user.adresse }}</p>
                    <p><span>Mail : </span>{{ app.user.email }}</p>
                    <p><span>Service : </span> {{ app.user.service.nom }}</p>
                    <p><span>Date embauche : </span>{{ app.user.dateEmbauche |date('d-m-Y') }}</p>
                    <p><span>N° sécurité social : </span>{{ app.user.numSs}}</p>
                    <p><span>IBAN : </span>{{ app.user.iban }}</p>


                   
                </div>
                <div class="row">
                    <div class="col-6 col-lg-6">
                        <a class="btn btn-outline-dark" href="{{asset('images/cdt/'~ app.user.contratTravail)}}" target="_blank"><i class="fas fa-download"></i> Contrat de travail</a>
                    </div>
                    <div class="col-6 col-lg-6">
                     <a class="btn btn-outline-dark" href="{{asset('images/cni/'~ app.user.carteIdentite)}}" target="_blank"><i class="fas fa-download"></i> Carte d'identité</a>
                </div>
                </div>



            </div>
            <div class="text-right">
                <a href="{{path('app_salarie_index')}}"><button type="button" class="btn btn-outline-success"><i class="fas fa-arrow-left"></i> Retour</button></a>
            </div>
        </div>
    </section>
   
    
{% endblock %}
