{% extends 'layout.html.twig' %}


{% block content %}
     <section>
        <div class="container mon-profil  ">
            <h1 class="text-center">Modification de mon profil</h1>
           {{form_start(form)}}{# ouvre la balise form #}

                
                {{ form_row(form.adresse) }}
                {{ form_row(form.codePostal) }}
                {{ form_row(form.ville) }}
                {{ form_row(form.iban) }}
                {{ form_row(form.telephone) }}
                {{ form_row(form.photo) }}


                <div class="form-btn-group">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
         {{ form_end(form) }}{# ferme la balise form #}

    </section>

  
   
    
{% endblock %}
