
{% extends 'layout.html.twig' %}


{% block content %}
    
 <section>
        <div class="container ajout-salaries ">
            <h1 class="text-center">Ajout d'un employé</h1>
            {{form_start(form)}}{# ouvre la balise form #}
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.civilite) }} {# bloc de formulaire pour le champs name #}
                </div>
                <div class="col-4">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.prenom) }}
                </div>
                 <div class="col-4">
                    {{ form_row(form.service) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.role) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.dateDeNaissance) }}
                </div>
                <div class="col-4">
                    {{form_row(form.email) }}
                </div>
                
                <div class="col-4">
                    {{ form_row(form.telephone) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.dateEmbauche) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.adresse) }}
                </div>
                <div class="col-2">
                    {{ form_row(form.codePostal) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.ville) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.numSs) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.iban) }}
                </div>
                <div class="col-12">
                    {{form_row(form.plainPassword) }}
                </div>
                    {{ form_row(form.carteIdentite) }}
                    {{ form_row(form.contratTravail) }}
                    {{ form_row(form.photo) }}
        
 
            
            

                <div class="form-btn-group col-12">
                <button type="submit" class="btn btn-primary">Valider</button>
                </div>
         {{ form_end(form) }}{# ferme la balise form #}
        </div>
    </section>

{% endblock %}
