{% extends 'layout.html.twig' %}

{% block content %}
   <section>
        <div class="container ajout-news">
             <div class="row">
                <div class="col-12 col-md-12">
                    <h1 class="text-center">Offre d'emploi </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_start(form) }}
                </div>
                <div class="col-12">
                    {{form_row(form.poste)}}
                </div>
                <div class="col-12">
                    {{form_row(form.description)}}
                </div>
                <div class="col-4">
                    {{form_row(form.contrat) }}
                </div>
                <div class="col-4">
                    {{form_row(form.salaire)}}
                </div>
                <div class="col-4">
                    {{form_row(form.service)}}
                </div>



                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enregistrer votre offre d'emploi</button>
                   {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}