{% extends 'layout.html.twig' %}

{% block content %}
   <section>
        <div class="container ajout-news">
             <div class="row">
                <div class="col-12 col-md-12">
                    <h1 class="text-center">Les News</h1>
                </div>
            </div>

            {{ form_start(form) }}
            {{form_row(form.titre)}}
            {{form_row(form.contenu)}}
            {{form_row(form.image) }}
            
            
   
             <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </section>
    {% endblock %}