{% extends 'layout.html.twig' %}


{% block content %}
    <section class="validationConges">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h1 class="text-center">Les congés </h1>
                </div>
            </div>    
               
                <div class="accordion" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Les congés en attente de validation({{nbdemandes}}) <i class="fas fa-angle-down"></i>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr class="text-center">
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Service</th>
                                        <th scope="col">Date de début</th>
                                        <th scope="col">Date de fin</th>
                                        <th scope="col">Nombre de jour</th>
                                        <th scope="col">Type</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for demande in demandes %}
                                        <tr class="text-center">
                                            
                                          <td>{{ demande.salarie.nom }}</td>
                                          <td>{{ demande.salarie.prenom }}</td>
                                          <td>{{ demande.salarie.service }}</td>
                                          <td>{{ demande.datedebut|date('d/m/Y') }} </td>
                                          <td>{{ demande.datefin|date('d/m/Y') }} </td>
                                          <td>{{ demande.nbdejour }} </td>
                                          <td>{{ demande.typeconge }} </td>
                                           <td><a class="avion" href="{{path('app_admin_reponseconge', {id: demande.id})}}"><i class="fas fa-plane"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>  
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                        Les congés validés <i class="fas fa-angle-down"></i>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr class="text-center">
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Service</th>
                                        <th scope="col">Date de début</th>
                                        <th scope="col">Date de fin</th>
                                        <th scope="col">Nombre de jour</th>
                                        <th scope="col">type</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                         {% for demandevalide in demandesvalides %}
                                        <tr class="text-center">
                                            
                                          <td>{{ demandevalide.salarie.nom }}</td>
                                          <td>{{ demandevalide.salarie.prenom }}</td>
                                          <td>{{ demandevalide.salarie.service }}</td>
                                          <td>{{ demandevalide.datedebut|date('d/m/Y') }} </td>
                                          <td>{{ demandevalide.datefin|date('d/m/Y') }} </td>
                                          <td>{{ demandevalide.nbdejour }} </td>
                                          <td>{{ demandevalide.typeconge }} </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>  
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTrois">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTrois"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Les congés refusés <i class="fas fa-angle-down"></i>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTrois" class="collapse " aria-labelledby="headingTrois" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr class="text-center">
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Service</th>
                                        <th scope="col">Date de début</th>
                                        <th scope="col">Date de fin</th>
                                        <th scope="col">Nombre de jour</th>
                                        <th scope="col">type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                         {% for demanderefuse in demandesrefusees %}
                                        <tr class="text-center">
                                            
                                          <td>{{ demanderefuse.salarie.nom }}</td>
                                          <td>{{ demanderefuse.salarie.prenom }}</td>
                                          <td>{{ demanderefuse.salarie.service }}</td>
                                          <td>{{ demanderefuse.datedebut|date('d/m/Y') }} </td>
                                          <td>{{ demanderefuse.datefin|date('d/m/Y') }} </td>
                                          <td>{{ demanderefuse.nbdejour }} </td>
                                          <td>{{ demanderefuse.typeconge }} </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>  
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <div class="text-right">
                    <a  href="{{path('app_admin_index')}}"><button type="button" class="btn btn-outline-success"><i class="fas fa-arrow-left"></i> Retour</button></a>
                </div>
            </div>
                </section>
                
{% endblock %}