{% extends 'layout.html.twig' %}

{% block content %}


  <section>
        <div class="container liste-news">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h1 class="text-center">Liste des news </h1>
                </div>
                <div class="col-12 col-md-12 text-center">
                <a href="{{path('app_admin_editnews')}}"><button type="button" class="btn btn-outline-success ">Ajouter une news</button></a>
            </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Date</th>
                                <th scope="col">Image</th>

                                <th scope="col" class="colonne-boutons"></th>
                                <th scope="col" ></th>
                                
                            </tr>
                        </thead>
                        <tbody >
                             {% for actualite in actualite %}
                            <tr>
                                <th scope="row">{{ actualite.id }}</th>
                                <td>{{ actualite.titre }}</td>
                                <td>{{ actualite.salarie }}</td>
                                <td>{{ actualite.date|date('d/m/Y') }}</td>
                                <td>
                                    {% if actualite.image is not null %}
                                         <img src="{{ asset('images/' ~ actualite.image)}}" width="50px">
                        
                                    {% endif %}
                                </td>
                                <td><a href='{{path('app_admin_editnews', {id:actualite.id})}}'><button type="button" class="btn btn-primary">Modifier</button></a> 
                                     <a href='{{path('app_admin_deletenews', {id:actualite.id})}}'><button type="button" class="btn btn-danger">Supprimer</button></a>
                                </td>
                                <td>
                                   
                                </td>
                              
                            </tr>
                             {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-right">
                <a href="{{path('app_admin_index')}}"><button type="button" class="btn btn-outline-success"><i class="fas fa-arrow-left"></i> Retour</button></a>
            </div>

        </div>
    </section>

{% endblock %}
