{% extends 'layout.html.twig' %}

{% block content %}


  <section>
        <div class="container liste-candidature">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <h1 class="text-center">Les candidatures </h1>
                    <h2>{{emploi.poste}}</h2>
                </div>
            </div>
            <div class="">
                {% for em in emploi.candidatures %}
                <div class="card w-100">
                    <div class="card-body row">
                        <div class="col-4   text-center">
                           <img class="img-fluid" src="{{asset('images/photo/'~ em.salarie.photo)}}">
                            <a class="btn btn-primary w-100" href="{{asset('images/candidatures/'~ em.cv)}}" target="_blank"><i class="fas fa-download"></i> Télécharger le CV</a>
                            <div class="text-left">
                                <p><span>Nom et prénom :</span> {{ em.salarie }}</p>
                                <p><span>Service :</span> {{ em.salarie.service }}</p>
                                <p><span>Mail :</span> {{ em.salarie.email }}</p>
                                <p><span>Téléphone :</span> {{ em.salarie.telephone }}</p>
                                <p><span>Date de candidature :</span> {{ em.dateCandidature|date('d/m/Y') }}</p>
                            </div>
                        </div>
                        <div class="col-8">
                            
                            <p> {{ em.motivation|nl2br }}</p>
                        </div>
                      
                    </div>
                </div>
                 {% endfor %}
            </div>

            
            

        </div>
    </section>

{% endblock %}

