{% extends 'layout.html.twig' %}


{% block content %}
  <section>
        <div class="container ajout-salaries ">
            <h1 class="text-center">Ajout d'un employé</h1>
            {{form_start(salarie)}}

        {{ form_row(salarie) }} 
        {{ form_row(salarie.nom) }}
        {{ form_row(salarie.prenom) }}
        {#{{ form_row(salarie.service) }}#}
        {{ form_row(salarie.role) }}
        {{ form_row(salarie.dateDeNaissance) }}

        {{form_row(salarie.email) }}

        {{form_row(salarie.plainPassword) }}
        {{ form_row(salarie.telephone) }}
        {{ form_row(salarie.adresse) }}
        {{ form_row(salarie.codePostal) }}
        {{ form_row(salarie.ville) }}
        {{ form_row(salarie.dateEmbauche) }}
        {{ form_row(salarie.numSs) }}
        {{ form_row(salarie.iban) }}
        {{ form_row(salarie.carteIdentite) }}
        {{ form_row(salarie.contratTravail) }}
        {{ form_row(salarie.photo) }}
        
 
                <div class="form-btn-group">
                <button type="submit" class="btn btn-primary">Valider</button>
                </div>
         {{ form_end(salarie) }}{# ferme la balise form #}
        </div>
    </section>  
{% endblock %}