{% extends 'layout.html.twig' %}


{% block content %}
    
  
    
    
    
  <div class=" inscription">  
    
     <h1 class="text-center">Inscription </h1>
   

    {{form_start(form)}}{# ouvre la balise form #}
 <div class="container">
        {{ form_row(form.nom) }} {# bloc de formulaire pour le champs name #}
        {{ form_row(form.siren) }}
        {{ form_row(form.siret) }}
        {{ form_row(form.forme_juridique) }}
        <div class="row">
            <div class="col-md-8">
        {{form_row(form.adresse) }}
        </div>
        <div class="col-md-4">
        {{form_row(form.code_postal) }}
        </div>
        </div>
        {{ form_row(form.ville) }}
        {{ form_row(form.telephone) }}
 
        
        
        
        
        
            	<div class="form-btn-group text-right">
		<button type="submit" class="btn btn-primary">Suivant  <i class="fas fa-arrow-right"></i></button>
		
	</div>
                
 
    </div>  
    {{ form_end(form) }}{# ferme la balise form #}
    
  </div>    
 
    
{% endblock %}
